#root {
  margin: 0 auto;
  padding-top: 1rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 195vh;
}

.header {
  display: flex;
  background-color: skyblue;
  width: 120rem;
  justify-content: space-between;
}

.footer {
  margin-top: auto;
  /* position: sticky;  // this will make sure that footer is always visible while scrolling */
  bottom: 0;
  background-color: skyblue;
  width: 120rem;
  text-decoration: none;
  color: brown;
}
