li{
    display: inline-block;
    padding: 10px;
}

li a{
    color: brown;
    padding: 5px;
    text-decoration: none;
}

.right, left{
    list-style-type: none;
    padding: 0;
}

.right{
    padding-right: 15px;
}
