li{
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

li a{
    color: brown;
    padding: 5px;
    text-decoration: none;
}

.right, left{
    list-style-type: none;
    padding: 0;
}

.right{
    padding-right: 15px;
}
